.main-container {
  background-color: white;
  border-radius: 5px;
  width: 30vw;
  height: 30vh;
}

.header-sec {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
  font-size: large;
  font-weight: bold;
}

.input-field-sec,
.btn-sec {
  padding: 5px 52px 5px 52px;
}
