<div class="main-container">
  <div class="input-field-sec">
    <input
      type="password"
      required="true"
      class="p-inputtext-sm"
      placeholder="Previous Password"
      pInputText
      [(ngModel)]="oldPwd"
    />
  </div>
  <div class="input-field-sec">
    <input
      type="password"
      required="true"
      class="p-inputtext-sm"
      placeholder="New Password"
      pInputText
      [(ngModel)]="newPwd"
    />
  </div>
  <div class="input-field-sec">
    <input
      type="password"
      required="true"
      class="p-inputtext-sm"
      placeholder="Confirm Password"
      pInputText
      [(ngModel)]="cnfrmPwd"
    />
  </div>
  <div class="btn-sec">
    <p-button
      label="Change Password"
      styleClass="p-button-sm"
      [loading]="isLoading"
      (onClick)="onClickChangePwd()"
      [disabled]="disabledBtn()"
    ></p-button>
  </div>
</div>
